/* RESET DO NAVEGADOR */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url('assets/asta-demon.png');
    transition: background 0.5s ease, color 0.5s ease; /* Efeito suave */
}


img {
    max-width: 300px;
    margin: 10px auto;
}
body.dark-mode {
    background-image: url('assets/asta-demon-dark.png');
    
}
