/* RESET E CONFIGURAÇÕES BÁSICAS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('assets_2/normal_asta\ \(1\).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #000000; /* Cor do texto no modo claro */
    text-shadow: 
    -1px -1px 0 #ffffff,  
     1px -1px 0 #ffffff,
    -1px  1px 0 #ffffff,
     1px  1px 0 #ffffff;
    transition: background 0.5s ease, color 0.5s ease;
    text-align: center; /* Centraliza textos e botões */
    padding-bottom: 50px;
}

/* MODO ESCURO (A Mágica acontece aqui) */
body.dark-mode {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('assets_2/asta-demon.png');
    color: rgb(255, 255, 255);
     text-shadow: 
    -1px -1px 0 #000000,  
     1px -1px 0 #000000,
    -1px  1px 0 #000000,
     1px  1px 0 #000000;
    transition: background 0.5s ease, color 0.5s ease;
}

/* IMAGEM E TÍTULOS */
img {
    max-width: 200px;
    margin: 20px auto;
    display: block;
}

h1 {
    font-size: 3em;
    margin: 20px 0;
    text-shadow: -2px -2px 4px rgb(85, 85, 85);
}

p {
    max-width: 800px;
    margin: 20px auto; /* Centraliza o bloco de texto */
    padding: 0 20px;
    font-size: 1.2em;
    line-height: 1.6;
    
}

/* CONTAINER PARA OS BOTÕES (Para ficarem lado a lado) */
.btn-container button  {
    padding: 12px 24px;
    margin: 12px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background-color: #582be7;
    color: white;
    transition: transform 0.2s, background 0.3s, box-shadow 0.3s;
    text-shadow: 3px 2px 1px #000000;
}

/* ESTILIZAÇÃO ÚNICA PARA BOTÕES */
button {
    padding: 14px 24px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #582be7;
    color: white;
    transition: transform 0.2s, background 0.3s, box-shadow 0.3s;
    text-shadow: 3px 2px 1px #000000;
}

button:hover {
    transform: scale(1.1);
    background-color: #22007f;
    box-shadow: 0 0 15px rgba(88, 43, 231, 0.6);
}

/* Ajuste para o link dentro do botão */
button a {
    color: white;
    text-decoration: none;
    display: inline-block;
}

.footer {
    margin-top: 150px;
    font-size: 0.9em;
    color: white;
    text-shadow: 1px 1px 2px black;
}

a {
    color: #582be7;
    text-decoration: none;
    font-weight: bold;
}