/* RESET DO NAVEGADOR */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url();
}
img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}
h1 {
    text-align: center;
    font-size: 2.5em;

}
p {
    max-width: 800px;
    margin: 20px auto;
    font-size: 1.2em;
    line-height: 1.6;
}