/* RESET DO NAVEGADOR */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url('assets/asta-demon.png');
}

img {
    max-width: 350px;
    margin: 10px auto;
    display: block;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    margin: 20px 0;
}

p {
    margin: 20px 15px;
    font-size: 1.2em;
    text-align: left;
    color: aliceblue;

}

button {
    display: block;
    margin: 20px auto;
    padding: 1px 20px;
    font-size: 1.2em;
    background-color: #000a9c;
}

a {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 15px;
    background-color: #000a9c;
    color: white;
    text-align: center;
}